.myStyle {
    width : 100%;
    padding : 25px;
    background-color : coral;
    color : white;
    font-size : 25px;
    box-sizing : border-box;
}


#myDiv1 {
    width : 100px;
    height : 100px;
    background : red;
    -webkit-transition : width 5s;
    transition : width 5s;
}


#myDiv1:hover {
    width : 400px;
}